In [1]:
#Python basic syntax
#1.Back slash
print ("Welcome to \
LetsUpgrade");

Welcome to LetsUpgrade

In [2]:
#2.Use of triple quote - Text art and docstring
print ("""/  _____/  ____   __| _/
/   \  ___ /  _ \ / __ | 
\    \_\  (  <_> ) /_/ | 
 \______  /\____/\____ | 
        \/            \/ """);

/  _____/  ____   __| _/
/   \  ___ /  _ \ / __ |
\    \_\  (  <_> ) /_/ |
 \______  /\____/\____ |
        \/            \/

In [3]:
#3.String inside quotes
print("It's a challenge");

It's a challenge

In [4]:
#4.Escape sequence of string
print("Hi\teveryone");
print("Welcome\nAll");
print('Python\'s notebook'); #after backslash upcoming single quote is not related with previous single quote.

Hi	everyone
Welcome
All
Python's notebook

In [5]:
#5.Formatted Output
name = "John"
mark = 95.897
print(name, "scored", mark,"marks");
print("The student's name is %3s and his mark is %10.2f"%(name,mark));
print(f"The student's name is {name} and his mark is {mark}");

John scored 95.897 marks
The student's name is John and his mark is      95.90
The student's name is John and his mark is 95.897

In [13]:
#python variables and assignment statement
#A keyword cannot be used as a variable
#Uppercase and lowercase letters,numbers and underscore can be used in variable name
#Variable assignment
x=y=z=100;
print (y)
del y #delete
id(x)

100

94729570199200

In [14]:
6**6 #power function

46656

In [16]:
#Arithmetic operations
5+6

11

In [17]:
5-6

-1

In [18]:
5*6

30

In [20]:
50/6

8.333333333333334

In [21]:
50//6

8

In [22]:
5%6

5

In [23]:
#comparison operaators
a = 2
b = 3
c = 3
a==b

False

In [24]:
a<b

True

In [25]:
a>c

False

In [26]:
a!=c

True

In [27]:
c>=b

True

In [28]:
a<=b

True

In [30]:
#Assignment operators
a=b
print(a)

3

In [31]:
a+=3 #a=a+3
print(a)

6

In [32]:
b-=1 #b=b-1
print(b)

2

In [34]:
c*=4 #c=c*4
print(c)

48

In [35]:
c/=4 #c=c/4
print(c)

12.0

In [36]:
a=a**3 #power function
print(a)

216

In [37]:
#Bitwise operators
a | b #OR

218

In [40]:
a & b #AND

0

In [42]:
bin(b)

'0b10'

In [44]:
#Logical operators
a>220 and b==2 #return true only when both statements are true

False

In [45]:
a>220 or b==2 #return true if one of the statements is true

True

In [46]:
not(a==216) #reverse the result

False

In [63]:
#Membership operators
str = "NeverGiveUp"
"e" in str #Returns True if a sequence with the specified value is present in the object

True

In [64]:
"s" not in str #Returns True if a sequence with the specified value is not present in the object

True

In [65]:
#Identity operators
x=10
y=20
x is y #Returns True if both variables are the same object

False

In [66]:
x is not y #Returns True if both variables are not the same object

True

In [68]:
#Operator precedence
z = (10 + 2) * 5 / 3 # (12*5)/3
print(z)

20.0

In [71]:
4**-1

0.25